.order-details-container {
  border: 1px solid rgb(227, 227, 227);
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  border-radius: 10px;
  margin: 15px;
}

@media (min-width: 768px) {
  .order-details-container {
    width: 100vw;
    width: 70vw;
    flex-grow: 1;
    margin: 15px 15px 15px 0;
  }
}
