.hero-video-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  height: 850px;
}

.hero-video {
  /* border: 2px solid red; */
  height: 100%;
  background-color: black;
}

.hero-video-container video {
  object-fit: cover;
  opacity: 0.5;
}

.hero-text {
  position: absolute;
  color: white;
  /* border: 1px solid white; */
  top: 10em;
  text-align: center;
}

.hero-text h1 {
  font-size: 3.5em;
  /* text-transform: uppercase; */
  /* opacity: .9 */
}
.hero-text h2 {
  margin-top: 40px;
  font-size: 1.2em;
  opacity: 0.8;
}

.shop-now-btn {
  position: absolute;
  bottom: 5rem;
  border: 1px solid black;

  align-self: center;

  font-size: 1.8rem;
  font-weight: 800;
  padding: 1.1rem 3.5rem;
  border: none;

  justify-self: stretch;
  border-radius: 40px;

  color: white;
  background-color: rgb(174, 174, 90);
  /* box-shadow: 0px 0px 39px 0px rgb(32, 32, 32); */
}

@media (min-width: 768px) {
  .hero-video-container {
    height: 1200px;
  }
  .hero-text h1 {
    font-size: 8em;
    /* text-transform: uppercase; */
    /* opacity: .9 */
  }
  .hero-text h2 {
    margin-top: 40px;
    font-size: 1.5em;
    opacity: 0.8;
  }
}
