.products-page-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 20px;
}

.product-details-image {
  /* border: 1px solid black; */
}

.product-details-image img {
  width: 90vw;
  object-fit: cover;
  height: 65vw;
  margin-bottom: 100px;
}

.products-page-container .product-details-description {
  /* border: 1px solid black; */
  width: 70vw;
  height: 50vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  line-height: 25px;
}

.products-page-container .product-details-description h1 {
  /* border: 1px solid black; */
  /* text-align: center; */
  margin-bottom: 2rem;
}
.gender-container {
  font-size: 0.9rem;
  /* color: grey; */
}

.description-container {
  font-size: 1rem;
  line-height: 22px;
  /* letter-spacing: 0.4px; */
  margin-bottom: 20px;
}

.description-container > span {
  font-weight: 600;
}

.gender-container > span {
  font-weight: 600;
  color: black;
}
.gender-container {
  color: grey;
}

.size-container {
  font-size: 0.9rem;
  color: grey;
}
.size-container > span {
  font-weight: bold;
  color: black;
}

.product-price-container {
  /* border: 1px solid black; */
}

.product-original-price {
  font-size: 1.5rem;
  color: grey;
  text-decoration: line-through;
  text-decoration-color: red;
  font-weight: bold;
  margin-right: 10px;
}

.product-discount-price {
  font-size: 1.7rem;
  font-weight: bold;
}
.ratings-reviews {
  font-size: 0.9rem;
  margin-top: -20px;
  margin-bottom: 20px;
}

.ratings-reviews > :first-child {
  font-weight: bold;
}
.ratings-reviews .review {
  color: grey;
}

.tags {
  display: flex;
  margin-bottom: 15px;
}
.tags > * {
  margin-right: 10px;
}

.product-card-buttons-container {
  display: flex;
  flex-flow: column nowrap;
  /* border: 1px soliod black; */
}

.product-card-buttons-container .add-to-cart-btn {
  font-weight: 800;
  /* margin: 0px auto; */

  border: none;
  margin-bottom: 8px;
  /* flex-grow: 1; */
  /* justify-self: stretch; */
  border-radius: 10px;
  font-size: 1em;
  color: white;
  background-color: rgb(174, 174, 90);
  padding: 15px 45px;
  text-transform: uppercase;
}

.product-card-buttons-container .add-to-wishlist-btn {
  border: none;
  background-color: rgb(221, 221, 221);

  color: rgb(0, 0, 0);
  border-radius: 10px;
  /* border: 1px solid rgb(174, 174, 90) */
  box-shadow: 0px 0px 46px -4px rgb(205, 205, 205);
  padding: 15px 45px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1em;
}

@media (min-width: 768px) {
  .products-page-container {
    margin-top: 100px;
    padding: 30px 30px 30px 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    height: 195vw;
    justify-content: space-evenly;
    /* border: 1px solid black; */
  }

  .product-details-image img {
    width: 50vw;
    object-fit: cover;
    height: 500px;
    margin-top: -70px;
    /* border: 1px solid black; */
  }

  .products-page-container .product-details-description {
    /* border: 1px solid black; */
    width: 25vw;
    height: 300px;
    justify-content: space-between;
    line-height: 26px;
  }

  .tags {
    display: flex;
    margin-bottom: 30px;
  }
}
