.delivery-address-container {
  border-top: 1px solid rgb(231, 231, 231);
  padding: 15px;
  margin: 15px;
}

.delivery-address-description {
  display: flex;
  flex-direction: column;
}
.delivery-address-description .name {
  font-weight: 700;
  margin-bottom: 15px;
}

.delivery-address-description .address {
  margin-bottom: 10px;
}

.delivery-address-description .contact {
}

.delivery-address-container h3 {
  text-align: center;
  margin-bottom: 15px;
}
